.bg-box{
    width: 100%;
    height: 900px;
    background-color: green;
    background-image: url(../images/travadom.webp),url(../images/green.png),url(../images/donat.png),url(../images/lamp.png.png),url(../images/izak.png.webp);
    background-repeat: no-repeat,repeat-x,repeat-y,repeat-x,repeat-y;
    background-size: 800px 500px,300px 300px,100px 100px,100px 100px,100px 100px;
    background-position: center,bottom,right,top,left;
}